.ride-container{
  width: 100%;
  min-height: 250px;
  margin-top: 5%;
}
.ride-icon{
  margin-top: 2%;
  margin-right: 5%;
}

.city{
  font-size:1.2em;
  font-weight: bold;
}
.step-icon{
  margin-left:0.5%;
  float: left;
}
.steps-container{
  width : 100%;

  margin-top: 4%;
  margin-bottom: 4%;

  float: left;
}

.location{

  width: 80%;
}

@media (min-width: 1281px) {

  .ride-infos{
    margin-left:15%;
  }

  .step-city{
    margin-left:9%;
  }

}

@media (min-width: 320px) and (max-width: 1280px) {

  .ride-infos , .step-city{
    margin-left:9%;
  }

}
