<div class="place">

  <div class="location-container">
      <div class="location left2">
        <mat-icon class="far fa-calendar-alt card-icon"></mat-icon>&nbsp;&nbsp;<span
            class="card-label">Date :</span>
        {{model.date | date:'dd/MM/yyyy'}} à
        {{hour}}:{{min}}
      </div>
</div>
<div class="location-container">
  <div class="location left2"><img src="assets/passenger.png" class="passenger-icon"
          alt="passenger-icon" /> <span class="card-label">&nbsp;&nbsp;Nombre de places
          proposées :
      </span>{{model.capacity}}
  </div>
</div>

</div>

<div class="ride-container" fxLayout="row" fxLayoutAlign="start start">

<div class="location">
    <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
    <div class="ride-infos" *ngIf="startAddress.name!==undefined">
        <div class="city">&nbsp;{{startAddress.name | split:',' }}</div>
        <div class="card-label-style"> Départ </div>
    </div>

    <ng-container *ngFor="let stepInput of  stepsInputs.controls ; let i=index">
        <div class="steps-container" *ngIf="stepInput.value.stepControl.name!==undefined" >
            <div class="step-infos">
                <div class="step-icon"></div>
                <div class="step-city">{{stepInput.value.stepControl.name}}</div>
            </div>
        </div>
    </ng-container>

    <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
    <div class="ride-infos" *ngIf="endAddress.name!==undefined">
        <div class="city">  &nbsp;{{endAddress.name | split:','}}</div>
        <div class="card-label-style"> Arrivée </div>
    </div>
</div>
</div>
