<div mat-dialog-content>
        <h5>Ajouter ou modifier mon adresse.</h5>

          <mat-form-field class="comment-input" appearance="outline">
            <input matInput
                      [formControl]="addressControl"
                      [matAutocomplete]="auto"
                      id="address" 
                      name="address"
                      placeholder="Mon adresse..."
                      [(ngModel)]="currentAddress">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayAddress">
                  <mat-option *ngFor="let addressDisplay of filteredDisplayAutocompleteListAddress | async" [value]="addressDisplay">
                      {{addressDisplay.name}} 
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button class="btn-valid-style btn btn-lg btn-block btn-sm" (click)=closeDialog() [mat-dialog-close]="dialogData.address" [disabled]="currentAddress.name === undefined"
                cdkFocusInitial>Envoyer</button>
    </div>
        