<div>
    <mat-horizontal-stepper #stepper [linear]="true" labelPosition="bottom" class="stepper">
        <mat-step state="adress">
            <mat-card class="card-style large-card card-mobile">
                <mat-card-content class="card-content">
                    <form class="form">
                        <ng-template matStepLabel>Itinéraire</ng-template>
                        <mat-form-field class="ride-form-control" appearance="outline">
                            <mat-label>Ville de départ</mat-label>
                            <input matInput id="start" name="start" [(ngModel)]="rideFilter.start.name"
                                placeholder="Exemple : Metz">
                        </mat-form-field>
                        <br />
                        <mat-form-field class="ride-form-control" appearance="outline">
                            <mat-label>Ville d'arrivée</mat-label>
                            <input matInput [(ngModel)]="rideFilter.end.name" id="end" name="end" placeholder="Exemple : Dijon">
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                    <button class="btn card-button btn-orange-style btn-next-style btn-form-style float-right"
                        mat-stroked-button matStepperNext>Suivant</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <mat-step state="date">
            <mat-card class="card-style large-card card-mobile">
                <mat-card-content class="card-content">
                    <form appearance="outline" class="form">
                        <ng-template matStepLabel>Date</ng-template>
                        <mat-form-field class="ride-form-control" appearance="outline">
                            <mat-label>Date de départ</mat-label>
                            <input matInput [matDatepicker]="dp" placeholder="Date de départ" [min]="minDate"
                                [(ngModel)]="rideFilter.date" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #dp></mat-datepicker>
                        </mat-form-field>
                        <br />
                        <div class="hour-selector">
                            <mat-form-field class="ride-form-control" appearance="outline">
                                <mat-label>Heure(s)</mat-label>
                                <mat-select [(ngModel)]="rideFilter.hour" id="hour" name="hour">
                                    <mat-option *ngFor="let hour of hours ; index as hourIndex" [value]="hourIndex">
                                        {{hourIndex}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mins-selector">
                            <mat-form-field class="ride-form-control" appearance="outline">
                                <mat-label>Minute(s)</mat-label>
                                <mat-select [(ngModel)]="rideFilter.min" id="min" name="min">
                                    <mat-option *ngFor="let min of mins ; index as minIndex" [value]="minIndex*10">
                                        {{minIndex*10}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                    <button class="btn card-button btn-return-style btn-form-style" mat-stroked-button
                        matStepperPrevious>Retour</button>
                    <button class="btn card-button btn-orange-style btn-next-style btn-form-style float-right"
                        mat-stroked-button matStepperNext (click)=validForm()>Rechercher</button>
                </mat-card-actions>
            </mat-card>
      </mat-step>
    </mat-horizontal-stepper>
</div>
