<div mat-dialog-content>
    Etes-vous sur ?
</div>
<div mat-dialog-actions>
    <button class="btn-valid-style btn btn-lg  btn-block btn-sm" [mat-dialog-close]="true"
        (click)=closeDialog(true) cdkFocusInitial>Oui</button>
    <button class="btn-delete-style btn btn-lg btn-block btn-sm" (click)="closeDialog(false)">Non</button>
</div>
