.fa-check-circle{
  color: #1ecc2a;
}

.fa-check-circle:hover{
  color: #18a021;
}

.fa-times-circle:hover{
  color: #df3327;
}

.fa-times-circle{
  color: #fc3e2f;
}
.owner-info , .date-info , .comment-info , .image{
  float: left;
  width: 100%;
}
.person-info{
  text-align: center;
}
.comment-info{
  margin-top:4%;
}
.card-divider{
  margin-top: 47% !important;
}
.card-ride{
  margin-top:4%;
}
.owner-info{
  font-size: 1.3em;
}

.profile-picture{
  margin-left:42% !important;
}

.deco-picture{
  width: 19%;
}
.image{
  text-align: center;
  margin-top: 10%;
}

.card-accepted-rejected{
  min-height: 280px !important;
}

@media (min-width: 1281px) {
  .request-button{
    margin-top: 25% !important;
    margin-left: 22%;
  }

  .card-ride{
    width: 22% !important;
    min-height: 340px;
  }
}

@media (min-width: 1179px) and (max-width: 1280px) {
  .request-button{
    margin-top: 60% !important;
    margin-left: 20%;
  }

  .reject{
    margin-left:-28%;
  }
  .card-ride{
    width: 40% !important;
    min-height: 340px;
  }
  .card-divider{
    margin-top : 50% !important;
  }

}

@media (min-width: 1025px) and (max-width: 1178px) {
  .request-button{
    margin-top: 60% !important;
    margin-left: 20%;
  }

  .reject{
    margin-left:-75%;
  }
  .card-ride{
    width: 40% !important;
    min-height: 340px;
  }
  .card-divider{
    margin-top : 50% !important;
  }

}

@media (min-width: 961px) and (max-width: 1024px) {
 .request-button{
   margin-top: 45% !important;
   margin-left: 30%;
 }

 .reject{
   margin-left:-30%;
 }

 .card-ride{
   min-height: 340px;
   width: 90% !important;
 }

}

@media (min-width: 768px) and (max-width: 960px) {

 .request-button{
    margin-top: 45% !important;
    margin-left: 30%;
 }

  .card-ride{
    min-height: 340px;
    width: 90% !important;
 }

  .reject{
    margin-left:-30%;
  }

}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .request-button{
    margin-top: 25% !important;
    margin-left: 24%;
  }

  .card-ride{
    min-height: 340px;
    width: 90% !important;
  }

}


@media (min-width: 601px) and (max-width: 767px) {

  .request-button{
    margin-top: 25% !important;
    margin-left: 24%;
  }

  .card-ride{
    min-height: 340px;
    width: 90% !important;
  }
}


@media (min-width: 381px) and (max-width: 600px) {

  .request-button{
    margin-top: 20% !important;
    margin-left: 26%;
  }
  .card-ride{
    min-height: 360px;
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  .request-button{
    margin-top: 20% !important;
    margin-left: 22%;
  }
  .card-ride{
    min-height: 340px;
  }
}
