<mat-tab-group dynamicHeight>
    <mat-tab label="Demandes non traitées">
        <div class="requestedDemandWithPlaces">
            <br />
            <span class="title" *ngIf="isPlacesLeft()">
                <h5>Nombre de places restantes : {{ride.capacity - rideUsersAc.length}}</h5>
            </span>
            <span class="title" *ngIf="!isPlacesLeft()">
                <h5>Plus de places.....</h5>
            </span>

            <mat-card class="card-style card-ride" *ngFor="let rideUserRq of rideUsersRq">

                <mat-card-content>
                    <div class="image">
                      <img class="card-profile-picture profile-picture card-profile-picture-style" mat-card-image [src]="(rideUserRq.user.picture.length!==0) ? rideUserRq.user.picture : 'assets/person.png'" alt="picture" />
                    </div>
                      <div class="person-info">
                        <span class="owner-info">{{rideUserRq.user.firstName}} {{rideUserRq.user.lastName}}</span>
                        <br/>
                        <div class="date-info card-label-style">{{rideUserRq.date | date:'dd/MM/yy HH:mm'}}</div>
                      </div>
                      <div class="image">
                        <img class="deco-picture" mat-card-image src="assets/deco-card.png" alt="picture" />
                    </div>
                    <div class="comment-info">
                        <div class="card-label card-label-style">Commentaire :</div>
                        <div class="comment">{{rideUserRq.comment}}</div>
                    </div>
                </mat-card-content>
                <mat-divider class="card-divider"></mat-divider>
                <mat-card-actions>
                      <button mat-icon-button class="request-button reject">
                          <mat-icon class="fas fa-times-circle fa-3x" (click)=rejectRequest(rideUserRq)></mat-icon>
                      </button>
                      <button mat-icon-button class="request-button " *ngIf="!isUserAlreadyAccepted(rideUserRq.user) && isPlacesLeft()">
                          <mat-icon class=" fas fa-check-circle fa-3x" (click)=acceptRequest(rideUserRq)></mat-icon>
                      </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Demandes acceptées">
        <div class="acceptedDemand">
            <br />
            <mat-card class="card-style card-ride card-accepted-rejected" *ngFor="let rideUserAc of rideUsersAc">
                <mat-card-content>
                    <div class="image">
                      <img class="card-profile-picture profile-picture card-profile-picture-style" mat-card-image [src]="(rideUserAc.user.picture.length!==0) ? rideUserAc.user.picture : 'assets/person.png'" alt="picture" />
                    </div>
                      <div class="person-info">
                        <span class="owner-info">{{rideUserAc.user.firstName}} {{rideUserAc.user.lastName}}</span>
                        <br/>
                        <div class="date-info card-label-style">{{rideUserAc.date | date:'dd/MM/yy HH:mm'}}</div>
                      </div>
                      <div class="image">
                          <img class="deco-picture" mat-card-image src="assets/deco-card.png" alt="picture" />
                      </div>
                    <div class="comment-info">
                        <div class="card-label card-label-style">Commentaire :</div>
                        <div class="comment">{{rideUserAc.comment}}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Demandes refusées">
        <div class="rejectedDemand">
            <br />
            <mat-card class="card-style card-ride card-accepted-rejected" *ngFor="let rideUserRj of rideUsersRj">
                <mat-card-content>
                    <div>
                      <img class="card-profile-picture profile-picture card-profile-picture-style" mat-card-image [src]="(rideUserRj.user.picture.length!==0) ? rideUserRj.user.picture : 'assets/person.png'" alt="picture" />
                    </div>
                      <div class="person-info">
                        <span class="owner-info">{{rideUserRj.user.firstName}} {{rideUserRj.user.lastName}}</span>
                        <br/>
                        <div class="date-info card-label-style">{{rideUserRj.date | date:'dd/MM/yy HH:mm'}}</div>
                      </div>
                      <div class="image">
                          <img class="deco-picture" mat-card-image src="assets/deco-card.png" alt="picture" />
                      </div>
                    <div class="comment-info">
                        <div class="card-label card-label-style">Commentaire :</div>
                        <div class="comment">{{rideUserRj.comment}}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>
