/* Default icon URLs */
:host ::ng-deep .leaflet-default-icon-path {
  background-image: 'assets/pin.png';
}

:host ::ng-deep .leaflet-default-shadow-path {
  display: none ;
}

:host ::ng-deep .leaflet-routing-alternatives-container{
  display:none
}
.card-style{
  border-top-style: solid;
  border-top-color:#F7A408;
  border-top-width: 4px;
  box-shadow: 1px 1px 1px 1px lightgray;
  float: left;
}

.full-large-card{

  border-radius: 8px;
  width:98%;
}


.card-label-style{

  color:#565656;

}
.card-label {
  margin-left:8px;
}

.card-label .center{
  text-align: center;
}

.card-title{
  color : #3a3a3a;
  text-align: center;
}

::ng-deep .mat-tab-label, .mat-tab-label-active{
  color:#F7A408 !important;
}

::ng-deep .mat-tab-group .mat-ink-bar{
  align-content: center !important;
  text-align:center !important;
  height:4px !important;
}
::ng-deep .mat-tab-labels{
  display: block;
  text-align: center;
}

.form {
  text-align:center;
}

.title-function{
  text-align:center;
}

.mat-stepper-horizontal{
  background-color:#fafafa;
}

.btn-valid-style{
  background: #1ecc2a;
  color:white;

  border-radius:15px;
}

.btn-full-style{

  min-width: 100%;
}

.btn-return-style{

  color:#F7A408;
  background-color: white;

  font-size:1em;

  border-radius:15px;

  float: left;
}

.btn-orange-style{

  background: #F7A408;
  color:white;

  border-radius:15px;
  margin-top:1%;

}

.btn-delete-style{

  background-color:#fc3e2f;
  color:white;

  border-radius:15px;
  margin-top:1%;

}

.btn-orange-style:disabled{

  color:white;
}

.card-divider{

  width: 80% !important;

  margin-top: 4%;
  margin-left: 10%;
}

.card-profile-picture-style{
  border-radius: 50%;

}
.card-profile-picture{
    float: left;
}

.card-ride-picture{
  float: left;
}

.card-details-icon{

  font-size: 4em;
  color:#F7A408;

  margin-right:10%;
  height: 40px;
}

.card-details-icon:hover{

  color:rgb(218, 145, 9);

}

.card-search-person-info{
  margin-left:14%;
}

.card-search-owner-info{
  font-size:1.4em;
  width : 100%;

  margin-left: 10%;
}

.card-ride{
  border-radius: 8px;
  margin-bottom:2%;
}
.btn-orange-style:focus .btn-delete-style:focus , .btn-return-style:focus{
  background-color: gray;
}

.requested-label{
  text-align : center;
  margin-top: 2%;

  height: 20px;
}

.step-icon{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #F7A408;
}

.ride-icon{

  float: left;
  color: #E83D3D;

  font-size: 32px;

}

.ride-infos{
  width: 82%;
}

@media (max-width: 1025px) {

  .large-card{

    width:100%;

    border-style:none !important;
    box-shadow: 0 0 0 0 !important ;
    background-color : #fafafa !important;
    float: none !important;

  }

  .card{
    margin-top:4%;
  }

  .card-mobile{
    min-width:20% !important;
    margin-top:2% !important;
    max-height:700px !important;
    border-style:none !important;
    box-shadow: 0 0 0 0 !important;
    background-color : #fafafa !important;
  }

  .btn-orange-style{
    margin-top:4%;
    font-size: 1em;
  }

  .btn-return-style{

    margin-top:8%;
  }

  .card-button{

    width: 100%;
  }

}

@media (min-width: 1500px) {

  .card{
    width:28%;
    margin-left:3%;
    margin-top:4%;
  }
  .card-ride{
      margin-left: 3%;
      float: left;
      min-width: 30%;
      max-width: 32%;
  }

  .large-card{

    width:80%;

    margin-left: 10%;
    margin-top:3%;
    padding-bottom:10px;

    float: none !important;
  }

  .full-large-card{

    margin-bottom : 2%;
    margin-left:1%;
    height:18%;
  }

  .card-image{
    width:100px !important;
    margin-left:35% !important;
    padding-top:50px !important;
  }

  .card-content{

    min-height:142px;
  }

  .card-buttons{

    min-height:115px;
  }

  .card-icon{
    font-size:22px;
  }

  .card-title{
    font-size: 1.5rem;
  }

  .card-profile-picture{
    margin-top: 1% !important;
    margin-left: 1%;
    width: 15%;
  }

  .card-ride-picture{
    width: 6%;
    margin-top:2% !important;
  }

  .mat-tab-label{
    font-size:17px;
  }

  .card-label-style{
    font-size:16.5px;
  }

  .btn-return-style{

    width:42%;
  }

  .btn-orange-style{

    font-size: 1em;
  }

  .btn-form-style{

    width: 42%;
  }

  .card-button {
    margin-top:6%;
  }
  .ride-infos{
    background-color: #FAFAFA;
    min-height: 60px;
    width:84%;
  }
  .steps-container{
    background-color: white;
  }
}
@media (min-width: 1281px) and (max-width: 1499px) {

  .card{
    width:26%;
    margin-left:5%;
    margin-top:4%;
  }
  .card-ride{
      margin-left: 3%;
      float: left;
      min-width: 37%;
      max-width: 38%;
  }

  .large-card{

    width:80%;

    margin-left: 10%;
    margin-top:3%;
    padding-bottom:10px;

    float: none !important;
  }

  .full-large-card{

    margin-bottom : 2%;
    margin-left:1%;
    height:18%;
  }

  .card-button {
    margin-top:8%;
  }

  .card-image{
    width:100px !important;
    margin-left:35% !important;
    padding-top:50px !important;
  }

  .card-content{

    min-height:142px;
  }

  .card-buttons{

    min-height:138px;
  }

  .card-icon{
    font-size:22px;
  }

  .card-title{
    font-size: 1.5rem;
  }

  .card-profile-picture{
    margin-top: 1% !important;
    margin-left: 1%;
    width: 15%;
  }

  .card-ride-picture{
    width: 6%;
    margin-top:2% !important;
  }

  .mat-tab-label{
    font-size:17px;
  }

  .card-label-style{
    font-size:16.5px;
  }

  .btn-return-style{

    width:42%;
  }

  .btn-orange-style{

    font-size: 1em;
  }

  .btn-form-style{

    width: 42%;
  }
  .ride-infos{
    background-color: #FAFAFA;
    min-height: 60px;
    width:84%;
  }
  .steps-container{
    background-color: white;
  }

}

@media (min-width: 1026px) and (max-width: 1280px) {

  .card{
    width:34%;
    min-height: 310px;
    margin-left:5%;
    margin-top:4%;
  }

  .large-card{

    width:80%;
    min-height: 310px;

    margin-left: 10%;
    margin-top:6%;
    padding-bottom:10px;

    float: none !important;
  }

  .full-large-card{

    margin-bottom : 2%;
    margin-left:1%;
    height:18%;
  }

  .card-button {
    margin-top:1%;
  }

  .card-image{
    width:90px !important;
    margin-left:36% !important;
    padding-top:50px !important;
  }

  .card-icon{
    font-size:22px;
  }

  .card-title{
    font-size: 1.5rem;
  }

  .card-profile-picture{
    margin-top: 4% !important;
    margin-left: 1%;
    width: 18%;
  }

  .card-ride-picture{
    width: 8%;
    margin-top:3% !important;
  }

  .card-buttons{

    min-height:60px;
  }

  .mat-tab-label{
    font-size:17px;
  }

  .card-label-style{
    font-size:16.5px;
  }

  .btn-form-style{

    width: 42%;
  }

  .card-ride{
    margin-left: 3%;
    float: left;

    min-width: 48%;
    max-width: 52%;
  }

  .ride-infos{
    background-color: #FAFAFA;
    min-height: 60px;
  }

}

@media (min-width: 768px) and (max-width: 1025px) {

  .card{
    width:62%;
    min-height: 310px;
    margin-left:18%;
  }

  .full-large-card{

    margin-bottom : 2%;
    margin-left:1%;
    height:18%;
  }

  .card-button{
    margin-top:8%;
  }

  .card-image{
    width:90px !important;
    margin-left:38% !important;
    padding-top:50px !important;
  }

  .card-icon{
    font-size:22px;
  }

  .card-label-style{
    font-size:20px;
  }

  .card-title{
    font-size: 1.5rem;
  }

  .card-profile-picture{
    margin-top: 4% !important;
    margin-left: 1%;
    width: 18%;
  }

  .card-ride-picture{
    width: 7%;
    margin-top:3% !important;
  }

  .mat-tab-label{
    font-size:16px;
  }

  .btn-form-style{

    width: 42%;
  }

  .card-ride{
    margin-left: 5%;
    float: left;

    min-width: 70%;
    max-width: 72%;
  }

}
@media (min-width: 601px) and (max-width: 767px) {

  .card-profile-picture{
    margin-top: 2% !important;
    margin-left: 1%;
    width: 15%;
  }

  .card-ride-picture{
    width: 8%;
    margin-top:3% !important;
  }

  .card-ride{
    margin-left: 3%;
    float: left;

    min-width: 65%;
    max-width: 96%;
  }

}

@media (min-width: 481px) and (max-width: 1280px) {
  .ride-infos{
    width:82%;
  }
}

@media (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {

  .card-ride-picture{
    width: 6%;
    margin-top:0.5% !important;
  }

  .card-ride{
    width: 44% !important;
    min-height: 43% !important;
  }

}

@media (min-width: 768px) and (max-width: 1025px) and (orientation: landscape) {

  .card{
    width:64%;
    min-height: 310px;
    margin-left:20%;
  }

  .full-large-card{

    margin-bottom : 2%;
    margin-left:1%;
    height:18%;
  }

  .card-image{
    width:90px !important;
    margin-left:38% !important;
    padding-top:50px !important;
  }

  .card-icon{
    font-size:22px;
  }

  .card-title{
    font-size: 1.5rem;
  }
  .card-label-style{
    font-size:20px;
  }

  .mat-tab-label{
    font-size:19px;
  }
  .card-profile-picture{
    margin-top: 2% !important;
    margin-left: 1%;
    width: 15%;
  }
  .ride-infos{
    width:82%;
  }

}

@media (min-width: 481px) and (max-width: 600px){

  .card-profile-picture{
    margin-top: 1% !important;
    margin-left: 1%;
    width: 12%;
  }
  .card-ride-picture{
    width: 5%;
    margin-top:0.5% !important;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .card{
    width:95%;
    min-height: 310px;
    margin-left:2%;
  }

  .full-large-card{

    margin-bottom: 5%;
  }

  .card-image{
    width:90px !important;
    margin-left:38% !important;
    padding-top:50px !important;
  }

  .card-icon{
    font-size:18px;
  }

  .card-title{
    font-size: 1.5rem;
  }
  .card-label-style{
    font-size:18px;
  }

  .mat-tab-label{
    font-size:17px !important;
  }

}

@media (min-width: 421px) and (max-width: 480px) {

  .card-ride-picture{
    width: 6%;
    margin-top:2% !important;
  }
}
@media (min-width: 320px) and (max-width: 420px) {

  .card-ride-picture{
    width: 6%;
    margin-top:4% !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .title-function{
    display:none;
  }
  .card{
    width:95%;
    min-height: 310px;
    margin-left:2%;
  }

  .full-large-card{

    margin-bottom: 5%;
  }


  .card-image{
    width:90px !important;
    margin-left:38% !important;
    padding-top:50px !important;
  }

  .card-icon{
    font-size:19px;
  }

  .card-title{
    font-size: 1.5rem;
  }

  .card-label-style{
    font-size:16px;
  }

  .mat-tab-label{
    font-size:17px;
  }
  .card-profile-picture{
    margin-top: 2% !important;
    margin-left: 1%;
    width: 14%;
  }

  .card-ride{
    width:98%;
  }
  .ride-infos{
    width:84%;
  }
}
