.ol-control button{
  background-color: rgba(40, 40, 40, 0.85) !important;
}

.ol-control button:hover{
  background-color: #282828 !important;
}

.right{
  float:right;
}

.left{
  float:left;
}

.left2{
  float:left;
  width:100%;
}
.ride-form-control{
  width: 100%;
}
.form-error{
  font-size:15px;
  margin-top: -2%;
}
@media (max-width: 1025px) {

  .hour-selector{

    float:left;
    width: 45%;
  }

  .mins-selector{

    float:right;
    width: 45%;
    margin-left:2%;
  }
  .map {
    widows: 100%; height:100%;
    min-height:200px;
    margin-bottom:2%;
  }

}


@media (min-width: 1025px){
  .map {
    width:100%; height:100%;
    min-height:200px;
    margin-bottom:2%;
  }
  .mat-stepper-horizontal{
    background-color:#fafafa;
  }

  .stepper{
    margin-left:100px;
    margin-right:100px;
  }

  .hour-selector{
    float:left;
    width:48%;
  }

  .mins-selector{
    float:right;
    width:48%;
  }
  .place-content{
    min-height:10px !important;
  }

}
