<h2 class="mat-h2 title-function">Proposer un covoiturage</h2>
<div>
    <mat-horizontal-stepper #stepper [linear]="true" labelPosition="bottom" class="stepper"
        (selectionChange)="selectionChange($event)">
        <mat-step [stepControl]="itineraryForm" state="adress">
            <mat-card class="card-style large-card card-mobile">
                <mat-card-content class="card-content">
                    <form [formGroup]="itineraryForm" class="form">
                        <ng-template matStepLabel>Itinéraire</ng-template>
                        <h2 class="card-label mat-h2 float-left">Itinéraire</h2>
                        <mat-form-field class="ride-form-control" appearance="outline">
                            <mat-label>Ville de départ</mat-label>

                            <input matInput id="start" name="start" [(ngModel)]="startAddress"
                                placeholder="Exemple : Metz" formControlName="startControl" [matAutocomplete]="autoStart">

                            <mat-autocomplete autoActiveFirstOption #autoStart="matAutocomplete" [displayWith]="displayAddressStart">
                                <mat-option *ngFor="let addressStartDisplay of filteredDisplayAutocompleteListStart | async" [value]="addressStartDisplay">
                                    {{addressStartDisplay.name}}
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field>
                        <mat-error class="form-error"
                        *ngIf=" startAddress.name === undefined&& (itineraryForm.controls['startControl'].dirty || itineraryForm.controls['startControl'].touched)">
                            La ville de départ est obligatoire
                            Veuillez choisir parmi celles proposées
                    </mat-error>
                        <br />
                        <mat-form-field class="ride-form-control" appearance="outline">
                            <mat-label>Ville d'arrivée</mat-label>
                            <input matInput id="ens" name="end" [(ngModel)]="endAddress"
                                placeholder="Exemple : Dijon" formControlName="endControl" [matAutocomplete]="autoEnd">

                            <mat-autocomplete autoActiveFirstOption #autoEnd="matAutocomplete" [displayWith]="displayAddressEnd">
                                <mat-option *ngFor="let addressEndDisplay of filteredDisplayAutocompleteListEnd | async" [value]="addressEndDisplay">
                                    {{addressEndDisplay.name}}
                                </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <mat-error class="form-error"
                          *ngIf="endAddress.name === undefined && (itineraryForm.controls['endControl'].dirty || itineraryForm.controls['endControl'].touched)">

                              La ville d'arrivée est obligatoire
                              Veuillez choisir parmi celles proposées
                      </mat-error>
                        <h2 class="card-label mat-h2 float-left">Etapes</h2>
                        <button mat-icon-button class="float-left" (click)="addStepInput()"><mat-icon>add_box</mat-icon></button>
                        <div formArrayName="stepsInputs" *ngFor="let stepInput of getStepInput().controls; let i = index">
                             <mat-form-field class="ride-form-control step-control" appearance="outline">
                                <div [formGroupName]="i">
                                    <input matInput id="step" name="step" formControlName="stepControl" placeholder="Exemple : Dijon" [matAutocomplete]="autoStep">
                                <mat-autocomplete autoActiveFirstOption #autoStep="matAutocomplete" [displayWith]="displayAddressStep">

                                    <mat-option *ngFor="let addressStepDisplay of filteredDisplayAutocompleteListStep[i] | async"[value]="addressStepDisplay" (click)=addStepInput()>
                                                {{addressStepDisplay.name}}
                                    </mat-option>
                            </mat-autocomplete>
                                </div>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                    <button class="btn card-button btn-orange-style btn-next-style btn-form-style float-right"
                        mat-stroked-button matStepperNext
                        [disabled]="startAddress.name === undefined || endAddress.name === undefined">Suivant</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <mat-step [stepControl]="dateForm" state="date">
            <mat-card class="card-style large-card card-mobile">
                <mat-card-content class="card-content">
                    <form [formGroup]="dateForm" appearance="outline" class="form">
                        <ng-template matStepLabel>Date</ng-template>
                        <mat-form-field class="ride-form-control" appearance="outline">
                            <mat-label>Date de départ</mat-label>
                            <input matInput [matDatepicker]="dp" placeholder="Date de départ" [min]="minDate"
                                [(ngModel)]="model.date" [ngModelOptions]="{standalone: true}"
                                formControlName="dateControl">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #dp></mat-datepicker>
                        </mat-form-field>
                        <mat-error class="form-error"
                            *ngIf="dateForm.controls['dateControl'].invalid && (dateForm.controls['dateControl'].dirty || dateForm.controls['dateControl'].touched)">
                            <mat-error class="form-error"
                                *ngIf="dateForm.controls['dateControl'].errors.required || dateForm.controls['dateControl'].invalid">
                                Veuillez entrer une date valide.
                            </mat-error>
                        </mat-error>
                        <br />
                        <div class="hour-selector">
                            <mat-form-field class="ride-form-control" appearance="outline">
                                <mat-label>Heure(s)</mat-label>
                                <mat-select [(ngModel)]="hour" formControlName="hoursControl" id="hour" name="hour">
                                    <mat-option *ngFor="let hour of hours ; index as hourIndex" [value]="hourIndex">
                                        {{hourIndex}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mins-selector">
                            <mat-form-field class="ride-form-control" appearance="outline">
                                <mat-label>Minute(s)</mat-label>
                                <mat-select [(ngModel)]="min" formControlName="minsControl" id="min" name="min">
                                    <mat-option *ngFor="let min of mins ; index as minIndex" [value]="minIndex*10">
                                        {{minIndex*10}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-error class="form-error"
                            *ngIf="dateForm.controls['hoursControl'].invalid && (dateForm.controls['hoursControl'].dirty || dateForm.controls['hoursControl'].touched)">
                            <mat-error class="form-error" *ngIf="dateForm.controls['hoursControl'].errors.required">
                                Merci d'indiquer un horaire complet.
                            </mat-error>
                        </mat-error>
                    </form>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                    <button class="btn card-button btn-return-style btn-form-style" mat-stroked-button
                        matStepperPrevious>Retour</button>
                    <button class="btn card-button btn-orange-style btn-next-style btn-form-style float-right"
                        mat-stroked-button matStepperNext [disabled]="dateForm.invalid">Suivant</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <mat-step [stepControl]="capacityForm" state="Nbplace">
            <mat-card class="card-style large-card card-mobile">
                <mat-card-content class="card-content place-content">
                    <form [formGroup]="capacityForm" class="form">
                        <ng-template matStepLabel>Capacité</ng-template>
                        <mat-form-field id="normalCapacityField" class="ride-form-control" appearance="outline">
                            <mat-label>Nombres de place(s)</mat-label>
                            <input matInput type="number" [min]=placeMin value="1" id="nbplace" name="nbplace"
                                value={{model.capacity}} [(ngModel)]="model.capacity" formControlName="capacityControl"
                                placeholder="Exemple : 12" class="form-control">
                        </mat-form-field>
                        <mat-error class="form-error" class="form-error"
                            *ngIf="capacityForm.controls['capacityControl'].invalid && (capacityForm.controls['capacityControl'].dirty || capacityForm.controls['capacityControl'].touched)">
                            <mat-error class="form-error" class="form-error"
                                *ngIf="capacityForm.controls['capacityControl'].errors.required">
                                Merci d'indiquer un nombre de places valide.
                            </mat-error>
                            <mat-error class="form-error" class="form-error"
                            *ngIf="capacityForm.controls['capacityControl'].errors.min">
                            Merci d'indiquer un nombre de places supérieur ou égal à {{placeMin}}
                        </mat-error>
                        </mat-error>
                    </form>
                </mat-card-content>
                <mat-card-actions class="card-buttons">
                    <button class="btn card-button btn-return-style btn-form-style" mat-stroked-button
                        matStepperPrevious>Retour</button>
                    <button class="btn card-button btn-orange-style btn-next-style btn-form-style float-right"
                         mat-stroked-button matStepperNext
                        [disabled]="capacityForm.invalid ">Suivant</button>
                </mat-card-actions>
            </mat-card>
        </mat-step>
        <mat-step state="recap">
            <ng-template matStepLabel>Récapitulatif</ng-template>
            <mat-card class="card-style large-card card-mobile">
                <div id='map' class='map'></div>
                <br />

                <mat-card-content class="card-content">
                      <ride-recap [model]="model" [hour]="hour" [min]="min" [startAddress]="startAddress" [endAddress]="endAddress" [stepsInputs]="getStepInput()"></ride-recap>
                </mat-card-content>

                <mat-card-actions class="card-buttons">
                    <div class="btn-container-recap">
                        <button class="btn card-button btn-return-style btn-form-style" mat-stroked-button
                            matStepperPrevious>Retour</button>
                        &nbsp;
                        <button
                            class="btn card-button btn-valid-style btn-valid btn-next-style btn-form-style float-right"
                            mat-stroked-button (click)="validForm()">Valider</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="adress">
            <mat-icon>location_on</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="date">
            <mat-icon>date_range</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="recap">
            <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="Nbplace">
            <mat-icon>directions_car</mat-icon>
        </ng-template>
    </mat-horizontal-stepper>

</div>
