.location{
  margin-left:6%;
  margin-bottom: 6%;
}

.menu{
  position: absolute;
  left:3%;
}
.menu-button{

  margin-top:10%;

  text-align: center !important;
  outline: none !important;
}

.date-container{

  width: 90px;
  height: 90px;
  background-color: #F7A408;
  color:white;

  margin-left:2%;

  border-radius: 5px;
}
.date-month{
  font-size:1.3em;
}
.date-day{
  font-size:1.9em;
}

.date-day , .date-month{
  display: block;
  text-align: center;
}
.card-hour-places , .date-container , .ride-container , .ride-icon ,
.ride-infos , .step-icon , .steps-container , .step-infos{
  float: left;
}
.card-hour-places{
  margin-left:10%;
  margin-top: 6%;

  font-size: 1.2em;
  font-weight: bold;
}
.card-header{
  height: 120px;
  background-color: white;
}
.ride-container{
  width: 100%;
  height: 250px;
  margin-top: 10%;
}
.ride-icon{
  margin-top: 2%;
  margin-right: 8%;
}
.ride-infos{
  background-color: #FAFAFA;
  height: 60px;

}
.city{
  font-size:1.2em;
  font-weight: bold;
}
.step-icon{
  margin-top:2%;
  margin-left:2%;
}
.steps-container{

  background-color: white;
  width : 100%;

  margin-top: 6%;
  margin-bottom: 6%;
}

.step-infos{
  margin-left: 10%;
}
.card-ride{
  height: 480px;
  padding-top: 0px;
}
.card-header{
  padding-top:0px;
}


