<mat-tab-group>
  <mat-tab label="Trajets proposés">


    <mat-card class="card card-style card-ride" *ngFor="let ride of myRides">
      <mat-card-content>

        <div class="card-header">

          <mat-menu class="menu" #appMenu="matMenu"  yPosition="above" xPosition="after">
              <button mat-menu-item class="menu-button" (click)=updateRide(ride)>Modifier le trajet</button>
              <button mat-menu-item class="menu-button" (click)=openDialog(ride)>Supprimer le trajet</button>
          </mat-menu>
          <button class="float-right menu-button" mat-icon-button [matMenuTriggerFor]="appMenu">
             <mat-icon>more_vert</mat-icon>
          </button>
          <div class="place">

            <div class="date-container">
              <span class="date-month">{{getMonth(ride)}}</span>
              <span class="date-day">{{getDay(ride)}}</span>
          </div>
          <div class="card-hour-places">
              <div class="hour">Départ : {{getHour(ride)}}</div>
              <div class="places">{{ride.capacity - ride.numbrerUsersAccepted}}/{{ride.capacity}} places</div>
          </div>
        </div>
      </div>

       <div class="ride-container">

          <div class="location">
              <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
              <div class="ride-infos">
                  <div class="city">{{(ride.start.name | split:',')}}</div>
                  <div class="card-label-style"> Départ </div>
              </div>

              <ng-container *ngIf="ride.stepAddresses.length !== 0">
                  <div class="steps-container">
                      <div class="step-icon"></div>
                      <div class="step-infos">
                          <div class="step-city">{{(ride.stepAddresses[0].name | split:',')}}&nbsp;</div>
                      </div>
                  </div>
                  <div class="steps-container" *ngIf="ride.stepAddresses.length !== 1">
                      <div class="step-icon"></div>
                      <div class="step-infos">
                          <div class="step-city">{{(ride.stepAddresses[1].name | split:',')}}&nbsp;</div>
                      </div>
                  </div>
              </ng-container>

              <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
              <div class="ride-infos">
                  <div class="city">{{(ride.end.name | split:',')}}</div>
                  <div class="card-label-style"> Arrivée </div>
              </div>
          </div>
       </div>
      </mat-card-content>
      <mat-card-actions>
          <mat-icon class="card-details-icon float-right" (click)="rideEvents(ride)">arrow_right_alt</mat-icon>
      </mat-card-actions>
    </mat-card>



  </mat-tab>
  <mat-tab label="Trajets participés">



  </mat-tab>
</mat-tab-group>
