@media (min-width: 1281px) {

  .start{
    margin-left:35%;
  }

  .end{
    margin-left:2%;
  }

  .form-control{
    margin-left:20%;
  }
  .date{
    margin-top:7%;
    margin-bottom : 4%;
    position: absolute;
    left: 28%;
  }

  .hours{
    margin-top: 7.5%;
    margin-left: -20%;
    margin-right: 8px;
  }

  .search-card{
    min-height: 20%;
  }
 }

 @media (min-width: 1025px) and (max-width: 1280px) {

  .search-card{
    min-height: 20%;
  }
  .start{
    margin-left:24%;
  }
  .end{
    margin-left:2%;
  }
  .form-control{
    margin-top: -10px;
    margin-left:20%;
  }

  .date{
    margin-top:10%;
    margin-bottom : 4%;
    position: absolute;
    left: 12%;
  }

  .hours{
    margin-top: 10%;
    margin-left: -33%;
    margin-right: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .start{
    margin-left:15%;
  }
  .end{
    margin-left:2%;
  }
  .search-field , .date{
    width: 35%;
  }
  .hours , .mins {

    width : 28%;
  }

  .form-control{
    margin-top: -22px;
    margin-left:20%;
  }

  .date{
    margin-top:16%;
    position: absolute;
    left: 4%;
  }

  .hours{
    margin-left: 40%;
    margin-right: 10px;
  }
}

@media (min-width: 601px) and (max-width: 767px) {

  .end{
    margin-left: 3% !important;
  }

  .date{

    margin-left:25%;
  }

  .search-field , .date {
    width: 48%;
  }

  .hours , .mins {

    width: 40%;
  }

  .search-form{
    margin-top:-3%;
  }

  .form-control{
    width:140px;
    margin-left:10%;
    margin-top:2%;
  }

  .hours{
    margin-bottom:2%;
    margin-left:8%;
    margin-right: 5%;
  }
}

.search-field {

  color: whitesmoke;
  float:left;
}
.form-control{

  background : none;
  text-align: center;

  width:120px;

  color:white;

}

.search-start , .search-end{
  margin-top: -23px;
}
.input-icon{
  margin-top: -10px;
}
.picker{
  height:35px;
}
.search-card{
  background: rgba($color: orange, $alpha: 0.5);
  display:block;
  margin-top:15px;
  color:white;
}

.date{
  font-size: 1.1em;
}

:host ::ng-deep  .mat-form-field-appearance-outline .mat-form-field-outline{
  color: white;
  background-color:rgba(253, 168, 65, 0.63);

  border-radius:5px;
}

.remove-filter-link{
  color: grey;
}






