<h2 class="mat-h2 title-function">Rechercher un covoiturage</h2>
<ng-container>
    <mat-card class="search-card">
        <form class="search-form">

            <mat-form-field class="search-field start" appearance="outline">
                <mat-icon class="input-icon">room</mat-icon>
                <div class="inputs"><input matInput class="form-control search-start" name="start" [(ngModel)]="rideFilter.start.name"
                    placeholder="Exemple : Metz" >
                  </div>
            </mat-form-field>
            <mat-form-field class="search-field end" appearance="outline">
                <mat-icon class="input-icon">room</mat-icon>
                <input matInput [(ngModel)]="rideFilter.end.name" class="form-control search-end" id="end" name="end"
                    placeholder="Exemple : Dijon">
            </mat-form-field>

          <mat-form-field class="date" appearance="outline">
              <input matInput  [matDatepicker]="picker" class="form-control" [(ngModel)]="rideFilter.date"
              [min]="minDate" [formControl]="dateCtrl" [ngModelOptions]="{standalone: true}">
              <mat-datepicker-toggle class="search-field picker" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>


            <mat-form-field class="hours" appearance="outline">
                <mat-label>Heure(s)</mat-label>
                <mat-select [(ngModel)]="rideFilter.hour" id="hour" name="hour">
                    <mat-option [value]=" "> </mat-option>
                    <mat-option *ngFor="let hour of hours ; index as hourIndex" [value]="hourIndex">
                        {{hourIndex}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mins" appearance="outline">
                <mat-label>Minute(s)</mat-label>
                <mat-select [(ngModel)]="rideFilter.min" id="min" name="min">
                    <mat-option [value]=" "> </mat-option>
                    <mat-option *ngFor="let min of mins ; index as minIndex" [value]="minIndex*10">
                        {{minIndex * 10}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <a  class="remove-filter-link" [routerLink]="" (click)=removeAllFilter()>Effacer tous les filtres</a>
        </form>
    </mat-card>
</ng-container>

<search-result [rideFilter]="rideFilter"></search-result>

