<mat-label *ngIf="rideFilter" class="nb-results">{{(rides | ridefilter : rideFilter).length}} trajet(s) trouvé(s) pour votre recherche. </mat-label>
<br />
<ng-container *ngFor="let ride of rides | ridefilter : rideFilter">

    <mat-card class="card-style card-ride" *ngIf=isRideRequested(ride)>
      <mat-card-content>

        <img class="card-profile-picture card-profile-picture-style" mat-card-image [src]="(ride.owner.picture.length!==0) ? ride.owner.picture : 'assets/person.png'" alt="picture" />
        <div class="card-search-person-info">
          <span class="card-search-owner-info">{{ride.owner.lastName}} {{ride.owner.firstName}}</span>
          <span class="date-info card-label-style">{{ride.date | date:'dd/MM/yyyy à HH:mm'}}</span>
        </div>
        <mat-divider class="card-divider"></mat-divider>

        <div class="ride-container" fxLayout="row" fxLayoutAlign="start start">

            <div class="location">
                <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
                <div class="ride-infos" *ngIf="ride.start.name!==undefined">
                    <div class="city">&nbsp;{{ride.start.name | split:',' }}</div>
                    <div class="card-label-style"> Départ </div>
                </div>

                <ng-container *ngIf="ride.stepAddresses.length!==0">
                  <div class="steps-container">
                      <div class="step-icon"></div>
                      <div class="step-infos">
                          <div class="step-city">{{(ride.stepAddresses[0].name | split:',')}}&nbsp;</div>
                      </div>
                  </div>
                  <div class="steps-container" *ngIf="ride.stepAddresses.length !== 1">
                      <div class="step-icon"></div>
                      <div class="step-infos">
                          <div class="step-city">{{(ride.stepAddresses[1].name | split:',')}}&nbsp;</div>
                      </div>
                  </div>
              </ng-container>

                <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
                <div class="ride-infos" *ngIf="ride.end.name!==undefined">
                    <div class="city">  &nbsp;{{ride.end.name | split:','}}</div>
                    <div class="card-label-style"> Arrivée </div>
                </div>
            </div>
            </div>


          <div class="places-left">
              <span class="card-label-style">Nombre de places restantes : </span>
              {{ride.capacity - ride.numbrerUsersAccepted}}/{{ride.capacity}}
          </div>
        <div class="requested-label">Demande en attente
            <mat-icon class="fas fa-hourglass-half"></mat-icon>
        </div>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-style card-ride" (click)="showRideDetails(ride)" *ngIf=!isRideRequested(ride)>

        <mat-card-content>
              <img class="card-profile-picture card-profile-picture-style" mat-card-image [src]="(ride.owner.picture.length!==0) ? ride.owner.picture : 'assets/person.png'" alt="picture" />
              <div class="card-search-person-info">
                <span class="card-search-owner-info">{{ride.owner.lastName}} {{ride.owner.firstName}}</span>
                <span class="date-info card-label-style">{{ride.date | date:'dd/MM/yyyy à HH:mm'}}</span>
              </div>
            <mat-divider class="card-divider"></mat-divider>


            <div class="ride-container" fxLayout="row" fxLayoutAlign="start start">

              <div class="location">
                  <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
                  <div class="ride-infos" *ngIf="ride.start.name!==undefined">
                      <div class="city">&nbsp;{{ride.start.name | split:',' }}</div>
                      <div class="card-label-style"> Départ </div>
                  </div>

                  <ng-container *ngIf="ride.stepAddresses.length !== 0">
                    <div class="steps-container">
                        <div class="step-icon"></div>
                        <div class="step-infos">
                            <div class="step-city">{{(ride.stepAddresses[0].name | split:',')}}&nbsp;</div>
                        </div>
                    </div>
                    <div class="steps-container" *ngIf="ride.stepAddresses.length !== 1">
                        <div class="step-icon"></div>
                        <div class="step-infos">
                            <div class="step-city">{{(ride.stepAddresses[1].name | split:',')}}&nbsp;</div>
                        </div>
                    </div>
                </ng-container>

                  <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
                  <div class="ride-infos" *ngIf="ride.end.name!==undefined">
                      <div class="city">  &nbsp;{{ride.end.name | split:','}}</div>
                      <div class="card-label-style"> Arrivée </div>
                  </div>
              </div>
              </div>


            <div class="places-left">
                <span class="card-label-style">Nombre de places restantes : </span>
                {{ride.capacity - ride.numbrerUsersAccepted}}/{{ride.capacity}}
            </div>
          </mat-card-content>
          <mat-card-actions>
              <mat-icon class="card-details-icon float-right">arrow_right_alt</mat-icon>
          </mat-card-actions>
    </mat-card>
  </ng-container>
