
.nb-results{
  color:  grey;

  display:block;

  margin-top:30px;
  padding-left:2%;

}
.date-info{
  display: flex;
  margin-left:10%;
}
.places-left{
  font-size:1.05em;
}

.ride-container{
  width: 100%;
  min-height: 225px;
  margin-top: 12%;
}
.ride-icon{
  margin-top: 2%;
  margin-right: 8%;
}
.city{
  font-size:1.2em;
  font-weight: bold;
}
.step-icon{
  margin-left:0.5%;
  float: left;
}
.steps-container{
  width : 100%;

  margin-top: 4%;
  margin-bottom: 4%;

  float: left;
}
.location{
  width: 100%;
}

@media (min-width: 1281px) {

  .ride-infos{
    margin-left:15%;
  }

  .step-city{
    margin-left:15%;
  }

}

@media (min-width: 320px) and (max-width: 1280px) {

  .ride-infos , .step-city{
    margin-left:20%;
  }

}







