<div mat-dialog-content>
    Ajouter un commentaire à votre demande ? (falcultatif)

      <mat-form-field class="comment-input" appearance="outline">
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="requestComment"></textarea>
      </mat-form-field>
</div>
<div mat-dialog-actions>
    <button class="btn-valid-style btn btn-lg btn-block btn-sm" [mat-dialog-close]="dialogData.ride" (click)="joinCovoit()"
        cdkFocusInitial>Envoyer</button>
</div>
