// Intech Palette
@import '~@intech/intech-internal-ui/sass/intech-internal-palette';

@import '~@angular/material/theming';

// https://material.angular.io/guide/typography
$custom-typography: mat-typography-config(
  $font-family: 'news-cycle-regular, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $title: mat-typography-level(28px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $button: mat-typography-level(16px, 24px, 500)
);

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
// Override the typography in the core CSS.
@include mat-core($custom-typography);

// mandatory stuff for theming
$app-theme-primary: mat-palette($md-app-primary);
$app-theme-accent: mat-palette($md-app-accent);
$app-theme-warn: mat-palette($md-app-warn);

$app-light-theme: mat-light-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

$app-dark-theme: mat-dark-theme($app-theme-primary, $app-theme-accent, $app-theme-warn);

@include angular-material-theme($app-light-theme);

body {
  margin: 0px;
  height: 100vh;
}

.globalContainer {
  min-height: 100vh;
}

.light-theme {
  @include angular-material-theme($app-light-theme);

  body {
    background-color: #fafafa;
  }
}

.dark-theme {
  @include angular-material-theme($app-dark-theme);
  body {
    background-color: #303030;
  }
}
