/**

  Standard Intech themes are available on the intech-internal-ui library.
  If you are creating an application that is used on internal Intech SI, please use these theme.

  else if you are creating an application for a client or for anybody else Intech, be free to adapted this theme to your needs
  and to include if on your ./app/style.scss file
**/

// https://medium.freecodecamp.org/how-to-make-a-custom-theme-in-angular-material-d47122a1e361
// https://stackoverflow.com/questions/47441036/switch-themes-in-angular-material-5
// https://material.io/tools/color
// https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126

// TODO TYPO CALIBRI
// TODO

// theme.scss
@import '~@angular/material/theming';
@include mat-core();


//$my-theme-primary: mat-palette($mat-green);
$app-theme-primary: mat-palette($mat-amber, 800, 600, 900);

$app-theme-accent : mat-palette($mat-amber, 600, 400, 800);
//$app-theme-accent : mat-palette($mat-light-blue, 800, 600, 900);
$app-theme-warn   : mat-palette($mat-red, 800, 600, 900);
$app-light-theme: mat-light-theme(
    $app-theme-primary,
    $app-theme-accent,
    $app-theme-warn
);

$app-dark-theme: mat-dark-theme(
    $app-theme-primary,
    $app-theme-accent,
    $app-theme-warn
);

@include angular-material-theme($app-light-theme);


body {
  margin : 0px;
  height:100vh;
}

.globalContainer {
  min-height: 100vh;
}

.light-theme {
  @include angular-material-theme($app-light-theme);
}


.dark-theme {
  @include angular-material-theme($app-dark-theme);


}


