

@media (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {

  .search-card{
    min-height: 30%;
  }

  .arrow-icon{
    margin-left:18%;
  }
  .btn-return-style{
    margin-left:30%;
  }
  .location{
    width: 22%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {

  .search-card{
    min-height: 25%;
  }

}

@media (min-width: 421px) and (max-width: 480px) {

  .search-card{
    min-height: 22%;
  }
}

@media (min-width: 320px) and (max-width: 420px) {

  .search-card{
    min-height: 22%;
  }
}

@media (min-width: 371px) and (max-width: 600px){
  .location{
    width:35%;
  }
}

@media (min-width: 320px) and (max-width: 370px){

  .location{
    width:40%;
  }

}
@media (min-width: 320px) and (max-width: 600px){


  .btn-return-style {
    margin-top:20% !important;
  }
  .arrow-icon{
    margin-left:7%;
  }

}

.card-label{
  width:100%;
  float:left;

  margin-left: 20% !important;
  font-size:0.9em !important;
}
.arrow-icon{
  font-size:1.3em;
}

.search-card{
  background: rgba($color: orange, $alpha: 0.5);
  display:block;
  margin-top:15px;
  color:white;
}

.location{
  font-size: 1.2em;
}

.date{
  font-size: 1.1em;

  margin-top:2%;
}






