<ng-container *ngIf="rideFilter">
    <mat-card class="search-card">

      <mat-card-content>
        <div class="location">
            <span class="start float-left" *ngIf="!rideFilter.start.name">...</span>
            <span class="start float-left">{{rideFilter.start.name}}</span>

        <mat-icon class="arrow-icon float-left">arrow_right_alt</mat-icon>

        <span class="end float-right" *ngIf="!rideFilter.end.name">...</span>
        <span class="end float-right">{{rideFilter.end.name}}</span>
        </div>
        <br/>
        <span class="date" *ngIf="rideFilter.date !=  null">{{rideFilter.date | date:'dd/MM/yyyy'}}</span>
        <span *ngIf="rideFilter.hour">{{rideFilter.hour}}:</span> {{rideFilter.min}}
        <button class="btn btn-return-style float-right" mat-stroked-button (click)=updateSearch()>Modifier la recherche</button>
    </mat-card-content>
    </mat-card>
</ng-container>

<search-result [rideFilter]='rideFilter'></search-result>
