.connexion-title{
  margin-top : 5%;
  margin-left: 5%;
}
.field{
  margin-left:8%;
  font-size: 1.2em;
  width: 80%;
}

.login-button{
  margin-left:35%;
  margin-top: 10%;
  border-color: #F7A408;
  border-width: 2px;
}

.field-icon{
  font-size:30px;
  margin-top: 10%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
  padding-top : 5px;
  padding-bottom: 14px;
}

@media (min-width: 1026px){
  .login-container{
    margin-top:40%;
  }
}

@media (min-width: 1500px){
  .car-pool{
    width: 100%;
    min-height: 970px;
    opacity: 0.7;
  }
}

@media (min-width: 1000px) and (max-width: 1499px){
  .car-pool{
    width: 100%;
    min-height: 820px;
    max-height: 970px;
    opacity: 0.7;
  }
}

@media (min-width: 1000px) {

  .img-login{
    width: 75%;
    float: left;
  }
  .login-box-body{
    margin-top: 16%;
  }
  .login-box-header{
    height: 100px;
    margin-left: 15%;
  }
  .login-container {
    min-width: 300px;
    margin-left:6%;
  }

  .login-container2 {
    width: 25%;
    height:980px;
    border-left-width: 2px;
    border-left-style: groove;
  }

}

@media (max-width: 999px) {
  .img-login{
    position: absolute;
    display: none;
  }

  .login-container2 {
    height:800px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .login-container {
    min-width: 300px;
    margin-top:25%;
  }
  .car-pool{
    width: 100%;
    min-height: 920px;
    max-height: 1000px;
    opacity: 0.2;
  }

  .login-box-body{
    margin-top: 2%;
  }

  .login-box-header{
    height: 100px;
    margin-left: 35%;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .login-container {
    min-width: 300px;
    margin-top:25%;
  }
  .car-pool{
    width: 100%;
    min-height: 920px;
    max-height: 1000px;
    opacity: 0.2;
  }

  .login-box-body{
    margin-top: 2%;
  }

  .login-box-header{
    height: 100px;
    margin-left: 25%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .login-container {
    min-width: 300px;
    margin-top:35%;
  }
  .car-pool{
    width: 100%;
    height: 820px;
    opacity: 0.2;
  }

  .login-box-header{
    height: 100px;
    margin-left: 22%;
  }
}



