<div class="img-login">
    <img src="assets/carpool.svg" alt="carpool" class="car-pool"/>
</div>
<div class="login-container2 float-right">
  <div class="login-container">
    <div class="login-box-header">
      <img src="assets/intech_logo-only_sm.png" alt="intech-logo" class="float-left">
      <h3 class="float-left connexion-title">Connexion</h3>
    </div>

    <div class="login-box-body">
      <div class='username-box'>
        <mat-icon class="field-icon">lock</mat-icon>
        <mat-form-field class="field" appearance="outline">
          <input matInput placeholder="Username" [(ngModel)]="model.username" text="text" required>
        </mat-form-field>
      </div>

      <div class="password-box">
        <mat-icon class="field-icon">remove_red_eye</mat-icon>
        <mat-form-field class="field" appearance="outline">
          <input matInput placeholder="Password" [(ngModel)]="model.password" text="password"
          type="password" required>
        </mat-form-field>
      </div>

      <button mat-stroked-button class="login-button" (click)="login()">
        <mat-icon>input</mat-icon> Login
      </button>
      {{error}}
    </div>
  </div>
</div>



