

@media (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {

  .btn-return-style{
    margin-left:30%;
  }
  .location{
    width: 22%;
  }
}

@media (min-width: 371px) and (max-width: 600px){
  .location{
    width:35%;
  }
}

@media (min-width: 320px) and (max-width: 370px){

  .location{
    width:40%;
  }

}
@media (min-width: 320px) and (max-width: 600px){


  .btn-return-style {
    margin-top:20% !important;
  }
}


.info , .card-label{
  width:100%;
  float:left;

  margin-left: 20% !important;
}

.card-label{
  font-size:0.9em !important;
}
.info{
  font-size:1.2em;
}

.location{
  font-size: 1.2em;
}

.date-info{
  display: flex;
  margin-left:10%;
}
.ride-info{

  margin-top:14%;
  margin-left:8%;
}

.end-info{
  margin-top: 10%;
}







