<mat-tab-group dynamicHeight>
    <mat-tab label="Demandes en attente">
        <div class="requestedDemand">
            <br />
              <mat-card class="card-style card-ride" *ngFor="let rideRequested of ridesRequested">

                  <mat-card-content>
                        <img class="card-profile-picture card-profile-picture-style" mat-card-image [src]="(rideRequested.owner.picture.length!==0) ? rideRequested.owner.picture : 'assets/person.png'" alt="picture" />
                        <div class="card-search-person-info">
                          <span class="card-search-owner-info">{{rideRequested.owner.firstName}} {{rideRequested.owner.lastName}}</span>
                          <span class="date-info card-label-style">{{rideRequested.date | date:'dd/MM/yy HH:mm'}}</span>
                        </div>
                      <mat-divider class="card-divider"></mat-divider>

                      <div class="ride-info">
                          <img class="card-ride-picture" mat-card-image src="assets/ride-icon.png" alt="picture" />
                            <span class="start-info info">{{rideRequested.start.name | split:','}}</span>
                            <span class="card-label card-label-style">Départ</span>
                            <span class="end-info info">{{rideRequested.end.name | split:',' }}</span>
                            <span class="card-label card-label-style">Arrivée</span>
                      </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-icon class="card-details-icon float-right" (click)=openDialog(rideRequested)>clear</mat-icon>
                      </mat-card-actions>
              </mat-card>

        </div>
    </mat-tab>
    <mat-tab label="Demandes acceptées">
        <div class="acceptedDemand">
            <br />
            <mat-card class="card-style card-ride" *ngFor="let rideAccepted of ridesAccepted">
                <mat-card-content>
                      <img class="card-profile-picture card-profile-picture-style" mat-card-image [src]="(rideAccepted.owner.picture.length!==0) ? rideAccepted.owner.picture : 'assets/person.png'" alt="picture" />
                      <div class="card-search-person-info">
                        <span class="card-search-owner-info">{{rideAccepted.owner.firstName}} {{rideAccepted.owner.lastName}}</span>
                        <span class="date-info card-label-style">{{rideAccepted .date | date:'dd/MM/yy HH:mm'}}</span>
                      </div>
                    <mat-divider class="card-divider"></mat-divider>

                    <div class="ride-info">
                        <img class="card-ride-picture" mat-card-image src="assets/ride-icon.png" alt="picture" />
                          <span class="start-info info">{{rideAccepted.start.name | split:','}}</span>
                          <span class="card-label card-label-style">Départ</span>
                          <span class="end-info info">{{rideAccepted.end.name | split:',' }}</span>
                          <span class="card-label card-label-style">Arrivée</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                      <mat-icon class="card-details-icon float-right" (click)=openDialog(rideAccepted)>clear</mat-icon>
                  </mat-card-actions>

            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Demandes refusées">
        <div class="rejectedDemand">
            <mat-card class="card-style card-ride" *ngFor="let rideRejected of ridesRejected">
                <mat-card-content>
                      <img class="card-profile-picture card-profile-picture-style" mat-card-image [src]="(rideRejected.owner.picture.length!==0) ? rideRejected.owner.picture : 'assets/person.png'" alt="picture" />
                      <div class="card-search-person-info">
                        <span class="card-search-owner-info">{{rideRejected.owner.firstName}} {{rideRejected.owner.lastName}}</span>
                        <span class="date-info card-label-style">{{rideRejected.date | date:'dd/MM/yy HH:mm'}}</span>
                      </div>
                    <mat-divider class="card-divider"></mat-divider>

                    <div class="ride-info">
                        <img class="card-ride-picture" mat-card-image src="assets/ride-icon.png" alt="picture" />
                          <span class="start-info info">{{rideRejected.start.name | split:','}}</span>
                          <span class="card-label card-label-style">Départ</span>
                          <span class="end-info info">{{rideRejected.end.name | split:',' }}</span>
                          <span class="card-label card-label-style">Arrivée</span>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                      <mat-icon class="card-details-icon float-right">arrow_right_alt</mat-icon>
                  </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
