@media (min-width: 1281px) {

  .ride-infos{
    margin-left:15%;
  }

  .step-city{
    margin-left:15%;
  }

}

@media (min-width: 320px) and (max-width: 1280px) {

  .ride-infos , .step-city{
    margin-left:20%;
  }

}

@media (min-width: 481px){

  .ride-details-logo{

    margin-left:4%;
    margin-top: 0.5%;
    margin-right: 4%;
    width: 50px;
  }

  .place-number-label , .title{

    float: left;
  }

}

@media (min-width: 1025px){


  .ride-details-label , .ride-detail-infos{

    font-size: 18px !important;
  }

  h5{
    margin-top:3%;
    margin-left:5%;
  }

  .place-number-label , .title {

    width:400px;
    height:30px;

  }
  .car {
    margin-top:10%;
  }

  .place-number-label{
    margin-top:1%;
  }
  .title , .ride-users{

    margin-left:3%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .ride-details-label , .ride-detail-infos{

    font-size: 20px;
  }

  h5{

    margin-top:8%;
  }

  .title{

    width: 320px;
  }


  .place-number-label{

    margin-top:4%;
  }
  .car {

    margin-top:18%;

  }
  .immatriculation-info{
    margin-left:1%;
  }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .ride-details-label , .ride-detail-infos{

    font-size: 20px;
  }

  h5{

    margin-top:6%;
  }

  .title{

    width: 320px;
  }

  .place-number-label{

    margin-top:2%;
  }
  .car {

    margin-top:12%;

  }


}

@media (min-width: 481px) and (max-width: 767px) {

  .ride-details-label , .ride-detail-infos{
    font-size: 18px;
  }

  h5{

    margin-top:10%;
    font-size:19px;
  }

  .title{

    width: 270px;
  }


  .place-number-label{

    margin-top:5%;
    margin-left:6%;
  }
  .car {

    margin-top:20%;
  }

  .immatriculation-label{

    margin-left:18% !important;
  }
}


@media (min-width: 320px) and (max-width: 480px) {

  .ride-details-logo{

    margin-left:2%;
    margin-top: 2%;
    margin-right: 4%;
    width: 40px !important;
  }

  .ride-details-label , .ride-detail-infos{

    font-size: 17px;
  }

  h5{

    margin-top:12%;
    font-size:19px;
  }
  .place-number-label{

    margin-left:6%;
    margin-top:3.5%;
  }
  .car {

    margin-top:15%;

  }

  .immatriculation-label{

    margin-left:20% !important;
  }

  .immatriculation-info{
    margin-left:20%;
  }
}

.owner{
  margin-left: 2%;
}

.owner , .ride-steps , .ride-users {
  margin-top:3%;
}

.car h5{

  margin-bottom: 3%;
  margin-top:2%;
}


.mat-divider{
  margin-top:2%;
  margin-left:30%;
  width:40% !important;

}

.ride-steps{
  float: left;

  margin-left: 10%;
}

.ride-details-logo{
  float:left;
  margin-left: 5%;
  margin-right: 5%;
}
.ride-steps-container{
  min-height: 120px;
}
.ride-users-logo{
  margin-top: 0.5% !important;
}
.ride-users{
  margin-bottom: 3%;
}
.points{
  float: right;
  margin-top: -2px;
}

.ride-container{
  width: 100%;
  min-height: 200px;
  margin-top: 3%;
}
.ride-icon{
  margin-top: 1%;
  margin-right: 12%;
}

.city{
  font-size:1.2em;
  font-weight: bold;
}
.step-icon{
  margin-left:0.5%;
  float: left;
}
.steps-container{
  width : 100%;

  margin-top: 4%;
  margin-bottom: 4%;

  float: left;
}

.location{
  margin-left: 5%;
  width : 80%;
}


