<mat-card *ngIf="ride" class="card-style large-card card-mobile">
  <mat-card-content>
    <h5>Conducteur</h5>
    <div class=owner>
          <img class="card-icon ride-details-logo  card-profile-picture-style" [src]="(ride.owner.picture.length!==0) ? ride.owner.picture : 'assets/person.png'" alt="car-logo" />
      <div class="card-label ride-details-label">Nom : <span
        class="ride-detail-infos">{{ride.owner.lastName}}</span></div>
      <div class="card-label ride-details-label">Prénom :  <span
        class="ride-detail-infos">{{ride.owner.firstName}}</span></div>
      <mat-divider></mat-divider>
    </div>


    <div *ngIf="ride.stepAddresses.length !== 0" class="ride-steps-container">
      <h5>Etapes</h5>
        <div class="ride-container" fxLayout="row" fxLayoutAlign="start start">

            <div class="location">
              <div>
                <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
                <div class="ride-infos" *ngIf="ride.start.name!==undefined">
                    <div class="city">&nbsp;{{ride.start.name | split:',' }}</div>
                    <div class="card-label-style"> Départ </div>
                </div>
              </div>

                <ng-container *ngFor="let step of ride.stepAddresses ; let i=index">
                    <div class="steps-container" *ngIf="step.name!==undefined" >
                        <div class="step-infos">
                            <div class="step-icon"></div>
                            <div class="step-city">{{step.name}}</div>
                        </div>
                    </div>
                </ng-container>

                <mat-icon class="fas fa-map-marker-alt ride-icon"></mat-icon>
                <div class="ride-infos" *ngIf="ride.end.name!==undefined">
                    <div class="city">  &nbsp;{{ride.end.name | split:','}}</div>
                    <div class="card-label-style"> Arrivée </div>
                </div>
            </div>
          </div>
    </div>

    <h5>Passagers</h5>
      <div class="ride-users" *ngFor="let rideUser of ride.users">
        <ng-container  *ngIf="isRideUserAccepted(rideUser)">
          <img class="card-icon ride-details-logo ride-users-logo  card-profile-picture-style" mat-card-image [src]="(ride.owner.picture.length!==0) ? ride.owner.picture : 'assets/person.png'" alt="user-picture" />
          <div class="card-label ride-details-label">Nom : <span
            class="ride-detail-infos">{{rideUser.user.lastName}}</span></div>
          <div class="card-label ride-details-label">Prénom :  <span
            class="ride-detail-infos">{{rideUser.user.firstName}}</span></div>
        </ng-container>
      </div>

    <span class="title">
      <h5>Nombre de places restantes : </h5>
    </span>
    <span class="ride-detail-infos place-number-label">
      {{getPlaceNumer()}}
    </span>

    <div class="car">
      <h5>Voiture </h5>
      <img class="card-icon ride-details-logo" src="assets/car-logo.png" alt="car-logo" />
      <div class="card-label ride-details-label">Marque : <span
        class="ride-detail-infos">{{ride.owner.car.brand}}</span></div>
      <div class="card-label ride-details-label immatriculation-label">Plaque d'immatriculation :
      <span class="ride-detail-infos immatriculation-info">{{ride.owner.car.licensePlate}}</span></div>
    </div>
  </mat-card-content>
  <mat-card-actions class="card-buttons">
    <div class="buttons">
      <button class="card-button btn-return-style btn-form-style" mat-stroked-button (click)="returnSearchList()">Retour</button>
      <button class="card-button btn-orange-style btn-next-style btn-form-style float-right" mat-stroked-button (click)=openDialog()> Rejoindre </button>
    </div>
  </mat-card-actions>
</mat-card>
