@media (min-width: 768px) and (max-width: 1024px) {


  .img-occupated{

    margin-left:37%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {

  .occupated{

    margin-left:10%;
  }

}

.trigramm , .hour , .immat{

  text-align: center;
}

.parking-button{

  display: block;
  margin : auto;
  min-width: 70% !important;
}
