<mat-tab-group dynamicHeight>
  <mat-tab label="Places disponibles">


      <div *ngIf="isPlaceAlreadyOccupated()===true" class="alreadyOnPlace">
        <mat-card class="card card-style">
          <img mat-card-image class="card-image" src="assets/check.jpg" alt="parking photo" >
          <mat-card-content>
              <h2 class="mat-h2 card-title">Place déja prise</h2>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="!isPlaceAlreadyOccupated()" class="PlacenotOccupated">
          <mat-card class="card card-style" *ngFor="let parkingPlace of parkingPlaces">
        <img mat-card-image class="card-image" src="assets/parking2.png" alt="parking photo">
        <mat-card-content>
            <h2 class="mat-h2 card-title">Numéro : {{parkingPlace.number}}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="card-button btn-orange-style parking-button" [disabled]="parkingPlace.disabled" (click)=selectParkingPlace(parkingPlace)>Prendre la place</button>
        </mat-card-actions>
    </mat-card>
  </div>

  </mat-tab>
  <mat-tab label="Places occupées">

      <mat-card class="card card-style occupated" *ngFor="let parkingHistory of parkingHistories">
          <img mat-card-image class="card-image" src="assets/parking2.png" alt="parking photo">
          <mat-card-content>
              <h2 class="mat-h2 card-title">Numéro : {{parkingHistory.parkingSpot.number}}</h2>
              <div class="hour"><span class="card-label center">Horaire d'arrivée : </span>{{parkingHistory.date| date:'shortTime'}} </div>
                <div class="trigramm"><span class="card-label center">Trigramme de l'occupant : </span>{{parkingHistory.trigramOccupant}} </div>
                <div class="immat"><span class="card-label center">Plaque d'immactriculation : </span>{{parkingHistory.licensePlate}}</div>

          </mat-card-content>
          <mat-card-actions>
              <button mat-stroked-button class="card-button btn-orange-style parking-button" *ngIf=isPlaceMine(parkingHistory) (click)=removeOccupation(parkingHistory)>Libérer la place</button>
            </mat-card-actions>
        </mat-card>

  </mat-tab>

</mat-tab-group>





