<div mat-dialog-content>
    <h5 >Modifier les informations à propos de ma voiture.</h5>
        <form [formGroup]="carInfosForm" >
            <mat-form-field>
                <input matInput name="carName" formControlName="carNameControl" placeholder="Nom de la voiture" [(ngModel)]="currentCar.brand"  id="carName">
                <mat-hint align="end">Pas plus de 30 caractères.</mat-hint>
                <mat-error class="form-error"
                        *ngIf="carInfosForm.controls['carNameControl'].invalid && (carInfosForm.controls['carNameControl'].dirty || carInfosForm.controls['carNameControl'].touched)">
                    <mat-error class="form-error"
                        *ngIf="carInfosForm.controls['carNameControl'].errors.required">
                        Le nom est obligatoire.
                    </mat-error>
                    <mat-error class="form-error"
                        *ngIf="carInfosForm.controls['carNameControl'].errors.maxlength">
                        Il y a trop de caractères.
                    </mat-error>
                </mat-error>
               <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
            </mat-form-field>
            <mat-form-field>
                <input matInput name="carNumberplate" formControlName="carNumberplateControl" placeholder="Plaque d'immatriculation" [(ngModel)]="currentCar.licensePlate"  id="carNumberPlate">
                <mat-hint align="end">Pas plus de 10 caractères.</mat-hint>
                <mat-error class="form-error"
                        *ngIf="carInfosForm.controls['carNumberplateControl'].invalid && (carInfosForm.controls['carNumberplateControl'].dirty || carInfosForm.controls['carNumberplateControl'].touched)">
                    <mat-error class="form-error"
                        *ngIf="carInfosForm.controls['carNumberplateControl'].errors.required">
                        Le numéro de plaque est obligatoire.
                    </mat-error>
                    <mat-error class="form-error"
                        *ngIf="carInfosForm.controls['carNumberplateControl'].errors.maxlength">
                        Il y a trop de caractères.
                    </mat-error>
                </mat-error>
               <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>-->
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button class="btn-valid-style btn btn-lg btn-block btn-sm" (click)=closeDialog() [mat-dialog-close]="dialogData.car" [disabled]="carInfosForm.invalid"
                cdkFocusInitial>Envoyer</button>
    </div>
