.sidenav-container {
  height: 100%;
}

.sidenav {
  background: #40464b;
}
.person{
  height: 100%;
  width: 100%;

  margin-top : 2% !important;
  margin-right: 1px;
}
.linkList{

  color:white;
  background : #353A3D;
  border:none;
  min-height:70px;
  font-weight: bold;

}

.linkText{

  margin-left: 20%;

}

 .fa-sort-down{
   margin-left: 20%;
 }

.logout , .dropbtn{
  outline: 0;
}

.dropbtn{
  display: block;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}


@media (min-width: 1281px) {

  img{
    margin-left:-2%;
    width:20%;
  }

  .sidenav {
    width: 280px;
  }

  .linkText{

    font-size : 1.1em;
    margin-left:30%;
  }

  .add , .search{

    margin-left:22%;
  }

  .dropdown{
    left: 72%;
  }
  .dropdown-content{
    left: 80%;
  }

}
@media (min-width: 1025px) and (max-width: 1280px) {

  img{
    margin-left:-2%;
    width:28%;
  }
  .sidenav {
    width: 280px;
  }

  .linkText{

    font-size : 1.1em;
    margin-left:30%;
  }

  .add , .search{

    margin-left:22%;
  }
  .dropdown{
    left: 58%;
  }
  .dropdown-content{
    left: 70%;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {

  img{

    margin-left:-1%;
    width:37%;
  }

  #title{

    font-size:1em;
  }

  .sidenav {
    width: 260px;
  }

  .linkText{

    font-size : 1em;
    margin-left:30%;
  }

  .add , .search{

    margin-left:18%;
  }
  .dropdown{
    left: 42%;
  }
  .dropdown-content{
    left: 60%;
  }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  img{

    margin-left:22%;
    width:38%;
  }

  #title{

    font-size:1em;
  }

  .sidenav {
    width: 290px;
  }

  .linkText{

    font-size : 1em;
    margin-left:30%;
  }

  .add , .search{

    margin-left:25%;
  }

  .dropdown{
    left: 12%;
  }
  .dropdown-content{
    left: 90%;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  img{

    margin-left:-2%;
    width:52%;
  }

  #title{
    font-size:0.9em;
  }

  .sidenav {
    width: 280px;
  }

  .linkText{

    font-size : 1em;
  }

  .add , .search{

    margin-left:15%;
  }

  #sign-out-text{

    display: none;
  }

  .dropdown{
    left: 29%;
  }
  .dropdown-content{
    left: -80%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {


  img{
    width:68%;
  }

  #title{

    font-size:0.8em;
  }

  .sidenav {
    width: 190px;
  }

  .linkText{

    font-size : 0.9em;
  }

  .add , .search{

    margin-left:10%;
  }

  #sign-out-text{

    display: none;
  }

  .dropdown{
    left: 4%;
  }
  .dropdown-content{
    left: -220%;
  }

}


.mat-nav-list{

  margin-top:20%;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{

  box-shadow: 4px 4px 2px rgba(198, 197, 194, 0.877);
  height:8%;

}

#title{

  color:#707070;
  text-align: center;
  margin-left:2%;

}
