<mat-toolbar class="toolbar" *ngIf="currentUser">
  <button mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <img alt="" src="assets/MovInTech.svg">

  <div class="dropdown" >
    <button mat-button class="logout" mat-icon-button (click)=toggleClick() >
        <img class="person" mat-card-image src="assets/person.png" alt="person" /> &nbsp;
        <span id="sign-out-text">Bonjour {{connectedUser()}}</span>
        <div class="fas fa-sort-down"></div>
    </button>
    <div id="myDropdown" class="dropdown-content" *ngIf="toggle">
        <button mat-button class="dropbtn" (click)=toggleClick() [routerLink]="['/profile']">Profil</button>
        <button mat-button class="dropbtn" (click)=logout()>Se déconnecter</button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async) && currentUser" >
    <mat-nav-list>
      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['']"
        *ngIf="isHandset$ | async;else homebutton">
        <mat-icon>home</mat-icon>
        <span class="linkText">Home</span>
      </button>
      <ng-template #homebutton>
        <button mat-list-item class="linkList" [routerLink]="['']">
          <mat-icon>home</mat-icon>
          <span class="linkText">Home</span>
        </button>
      </ng-template>

      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['/profile']"
        *ngIf="isHandset$ | async;else profilebutton">
        <mat-icon>person</mat-icon>
        <span class="linkText">Mon profil</span>
      </button>
      <ng-template #profilebutton>
        <button mat-list-item class="linkList" [routerLink]="['/profile']">
          <mat-icon>person</mat-icon>
          <span class="linkText">Mon profil</span>
        </button>
      </ng-template>


      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['/add-covoit']"
        *ngIf="isHandset$ | async;else addbutton">
        <mat-icon>add</mat-icon>
        <span class="linkText add">Proposer <br /> un covoiturage </span>
      </button>
      <ng-template #addbutton>
        <button mat-list-item class="linkList" [routerLink]="['/add-covoit']">
          <mat-icon>add</mat-icon>
          <span class="linkText add">Proposer <br /> un covoiturage </span>
        </button>
      </ng-template>


      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['/search-ride-mobile']"
        *ngIf="isHandset$ | async;else searchbutton">
        <mat-icon>search</mat-icon>
        <span class="linkText search"> Rechercher <br /> un covoiturage</span>
      </button>
      <ng-template #searchbutton>
        <button mat-list-item class="linkList" [routerLink]="['/search-ride']">
          <mat-icon>search</mat-icon>
          <span class="linkText search"> Rechercher <br /> un covoiturage</span>
        </button>
      </ng-template>


      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['/parking']"
        *ngIf="isHandset$ | async; else parkingbutton">
        <mat-icon>local_parking</mat-icon>
        <span class="linkText">Parking</span>
      </button>
      <ng-template #parkingbutton>
        <button mat-list-item class="linkList" [routerLink]="['/parking']">
          <mat-icon>local_parking</mat-icon>
          <span class="linkText">Parking</span>
        </button>
      </ng-template>

      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['/myrides']"
        *ngIf="isHandset$ | async;else ridesbutton">
        <mat-icon>remove_red_eye</mat-icon>
        <span class="linkText">Mes trajets</span>
      </button>
      <ng-template #ridesbutton>
        <button mat-list-item class="linkList" [routerLink]="['/myrides']">
          <mat-icon>remove_red_eye</mat-icon>
          <span class="linkText">Mes trajets</span>
        </button>
      </ng-template>

      <button mat-list-item class="linkList" (click)="drawer.close()" [routerLink]="['/my-bookings']"
        *ngIf="isHandset$ | async;else mybookingsbutton">
        <mat-icon>archive</mat-icon>
        <span class="linkText">Mes réservations</span>
      </button>
      <ng-template #mybookingsbutton>
        <button mat-list-item class="linkList" [routerLink]="['/my-bookings']">
          <mat-icon>archive</mat-icon>
          <span class="linkText">Mes réservations</span>
        </button>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
