<mat-card *ngIf="currentUser!==undefined" class="profile-card">
    <div class="location-container" >
        <div class="image-upload">
            <label for="inputImage">
                <img (mouseleave)="hover=false" (mouseover)="hover=true" class="picture" [src]="(pictureUrl64.length!==0) ? pictureUrl64 : 'assets/person.png'" alt="picture" />
                <i class="fas fa-camera fa-stack-2x"></i>
            </label> 
            <input #fileInput (change)="onFileChange($event)" accept="image/*" id="inputImage"
                    type="file">
        </div>
        <!--<span>
            <img mat-card-image class="picture" src="assets/person.png" alt="picture" />
            <i class="fas fa-edit fa-stack-2x"></i>
        </span> -->
        <h2 class="mat-h2 title-function ">{{currentUser.username}}</h2>
        <h3 class="mat-h3 title-function ">({{currentUser.trigram}})</h3>
    </div>
</mat-card>

<mat-card *ngIf="currentUser!==undefined" class="card-style large-card card-mobile personnal-info">
        <br />
        <div class="infos">
            <div class="profile-title">
                <i class="fas fa-user float-left"></i>
                <h3 class="mat-h3 sub-title title-function float-left"> Informations personelles</h3>
                <mat-icon class="modify-profile-icon float-right fas fa-pencil-alt" (click)=openInfosDialog()></mat-icon>
            </div>
            <br />

            <div class="location-container">
                <div class="location-profile left2 lastName ">
                    <mat-icon class="fas fa-circle fa-10x"></mat-icon>
                    <div class="card-label card-label-style profile-label">Nom :</div>
                    <div class="card-label profile-label-info">{{currentUser.firstName}} {{currentUser.lastName}}</div>
                </div>
            </div>
            <div class="location-container">
                <div class="location-profile left2 email">
                    <mat-icon class="fas fa-circle fa-10x"></mat-icon>
                    <div class="card-label card-label-style profile-label">Adresse email :</div>
                    <div class="card-label profile-label-info">{{currentUser.email}}</div>
                </div>
            </div>
        </div>
        <button mat-stroked-button class="card-button btn-return-style modify-info" (click)=openInfosDialog() >Modifier mes informations</button>
</mat-card>
<mat-divider class="divider"></mat-divider>
<mat-card *ngIf="currentUser!==undefined" class="card-style large-card card-mobile address">
        <br />
        <div class="infos">
            <div class="profile-title">
                <i class="fas fa-compass float-left"></i>
                <h3 class="mat-h3 sub-title title-function float-left"> Adresse</h3>
                <mat-icon class="modify-profile-icon float-right fas fa-pencil-alt" (click)=openAddressDialog()></mat-icon>
            </div>
            <br />
            <div class="location-container">
                <div class="location-profile left2 address address-here" *ngIf="currentAddress!==undefined">
                    <mat-icon class="fas fa-circle fa-10x"></mat-icon>
                    <div class="card-label card-label-style profile-label">Mon adresse :</div>
                    <div class="card-label profile-label-info">{{currentAddress.name}}</div>
                </div>
            </div>
            <div class="location-container">
                <div class="location-profile left2 address none-address" *ngIf="currentAddress===undefined">
                    <mat-icon class="fas fa-circle fa-10x"></mat-icon>
                    <div class="card-label card-label-style profile-label">Mon adresse :</div>
                    <div class="card-label profile-label-info">Aucune adresse n'est renseignée</div>
                </div>
            </div>
        </div>
        <button mat-stroked-button class="card-button btn-return-style modify-info" (click)=openAddressDialog() *ngIf="currentAddress===undefined">Ajouter une adresse</button>
        <button mat-stroked-button class="card-button btn-return-style modify-info" (click)=openAddressDialog() *ngIf="currentAddress!==undefined">Modifier mon adresse</button>
</mat-card>
<mat-divider class="divider"></mat-divider>
<mat-card *ngIf="currentUser!==undefined" class="card-style large-card card-mobile car-details">
        <br />
        <div class="infos">
            <div class="profile-title">
                <i class="fas fa-car-crash float-left"></i>
                <h3 class="mat-h3 sub-title title-function float-left"> Informations sur la voiture</h3>
                <mat-icon class="modify-profile-icon float-right fas fa-pencil-alt" (click)=openCarDialog()></mat-icon>
            </div>
            <br />
            <div class="location-container">
                <div class="location-profile left2 brand">
                    <mat-icon class="fas fa-circle fa-10x"></mat-icon>
                    <div class="card-label card-label-style profile-label-car">Marque de la voiture :</div>
                    <div class="card-label profile-label-info-car">{{currentCar.brand}}</div>
                </div>
            </div>
            <div class="location-container">
                <div class="location-profile left2 number-plate">
                    <mat-icon class="fas fa-circle fa-10x"></mat-icon>
                    <div class="card-label card-label-style profile-label-car">Plaque d'immatriculation :</div>
                    <div class="card-label profile-label-info-car">{{currentCar.licensePlate}}</div>
                </div>
            </div>
        </div>
        <button mat-stroked-button *ngIf="currentCar===undefined" (click)=openCarDialog() class="card-button btn-return-style modify-info">Ajouter une voiture</button>
        <button mat-stroked-button *ngIf="currentCar!==undefined" (click)=openCarDialog() class="card-button btn-return-style modify-info">Modifier ma voiture</button>
</mat-card>
<mat-divider class="divider"></mat-divider>
<mat-divider class="divider"></mat-divider>
<br/>
