.profile-title{
    width: 85%;
    height: 30px;
    margin: auto;
}
.profile-label{
    font-weight: 300 
}
.profile-label-car{
    font-weight: 300
}
.card-button{
    margin-top: 1% !important
}
.location-profile{
    display: -webkit-box
}

.component-title{
    font-weight: 600
}
.card-label{
    margin-left: 15px
}
.fas{
    margin-top: 5px;
    color: #565656;
    width: 10%;
}
.profile-details{
    display: flex;
    justify-content: center;
} 

.picture{
    border-radius: 50%;
    &:hover{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
label {
    display: block;
}
.image-upload>input {
    display: none;
  }

@media (min-width: 1281px), (min-width: 768px) and (max-width: 1025px), (min-width: 768px) and (max-width: 1025px) and (orientation: landscape) {
    .card-label{
        font-size: 20px !important;
    }
}


@media (min-width: 1281px) {

    .infos {
        font-size: 1.2rem !important
    }
}

@media (min-width: 1026px){

    .infos{
        min-height: 150px;
    }
    .modify-profile-icon{
        display: none
    }
    .divider{
        display: none
    }
    .fa-camera{
    margin-top: 2% !important;
    font-size: 3vw;
    margin-left: 52%
    }
    .mat-h2{
        font-size: 35px;
        display: block !important;
        height:30px
    }
    .mat-h3{
        font-size: 30px;
        display: block !important;
        height: 30px
    }
    .modify-info{
        float: right !important;
    }
    .picture{
        width: 15%;
        margin-top: 3% !important;
        margin-left: 42.5%
    }
    .profile-card{
        min-height: 24%;
        background: rgba($color: #f18d01, $alpha: 0.5);
        display:block;
        margin-top:15px;
    }
    .validate{
        font-size: 20px;
        display: block;
        margin: auto;
    }
    .large-card{
        min-height: 250px !important
    }
}

@media (max-width: 1025px) {
    .card-button{
        display: none !important;
    }
    .validate{
        width:90% !important;
        display: block;
        margin: auto;
    }
    .profile-card{
        min-height: 145px;
        background: rgba($color: #f18d01, $alpha: 0.5);
        display: block;
        margin-top: 0px;
    }
    .card-mobile{
        margin-top: 0% !important;
        padding: 0 16px 16px 16px
    }
    .divider{
        color: black
    }
}
@media (min-width: 768px) and (max-width: 1025px) {
    .picture{
        width: 16%;
        margin-top: 4% !important;
        margin-left: 42%
    }
}

@media (min-width: 768px) and (max-width: 1025px) and (orientation: landscape) {

    .picture{
        width: 13%;
        margin-top: 3% !important;
        margin-left: 43.1%
    }
}

@media (min-width: 768px) and (max-width: 1025px), (min-width: 768px) and (max-width: 1025px) and (orientation: landscape){

    .fa-camera {
        margin-top: 1% !important;
        font-size: 3vw;
        margin-left: 52%
    }
    .infos{
        min-height: 50px;
        font-size: 1.2rem !important
    }
    .mat-stroked-button{
        line-height: 30px;
    }
    .mat-h2{
        // color: #b35e0b;
        font-size: 25px;
        display: block !important;
    }
    .mat-h3{
        // color: #b35e0b;
        font-size: 22px;
        display: block !important;
        height: 3px
    }
    .btn-return-style {
        font-size: 18px !important;
        width: 80% !important;
        float: none !important;
        display: block;
        margin: auto;
    }
}

@media (min-width: 501px){
    .fa-circle{
        color: #f18d01;
        font-size: 1vw !important;
        width: 3% !important
    }
    .profile-label-car{
        width: 35%;
        margin-left: 3% !important
    }
    .profile-label-info-car{
        width: 55%;
        margin-left: 3% !important
    }
    .profile-label{
        width: 20%;
        margin-left: 3% !important
    }
    .profile-label-info{
        width: 70%;
        margin-left: 3% !important
    }
}
@media (max-width: 500px) {
    .fa-circle{
        color: #f18d01;
        font-size: 1.5vw !important;
        width: 10px !important
    }
    .profile-label-car{
        width: 60%;
        margin-left: 0% !important;
        float: none
    }
    .profile-label-info-car{
        width: 30%;
        margin-left: 0% !important;
        float: none
    }
    .profile-label{
        width: 35%;
        margin-left: 0% !important;
        
    }
    .profile-label-info{
        width: 55%;
        margin-left: 0% !important;
    }
}


@media (min-width: 320px) and (max-width: 767px) {

    .btn-return-style {
        font-size: 14px !important;
        width: 80% !important;
        float: none !important;
        display: block;
        margin: auto;
    }
    .card-label{
        font-size: 14px !important;
    }
    .fa-camera {
        font-size: 5vw;
        margin-top: 1% !important;
        margin-left: 54%
    }
    .infos{
        min-height: 50px;
    }
    .mat-h3{
        // color: #b35e0b;
        font-size: 18px;
        display: block !important;
        height: 3px
    }
    .mat-h2{
        // color: #b35e0b;
        font-size: 20px;
        display: block !important;
        height: 30px;
        margin-top : 0% !important;
        margin-bottom: 0% !important
    }
    .mat-stroked-button{
        line-height: 20px;
    }
    .picture{
        width: 20%;
        margin-top: 3% !important;
        margin-left: 40%
    }
}
