<div mat-dialog-content>
                <h5 > Modifier mes informations personelles.</h5>
    <form [formGroup]="userInfosForm" >
        <mat-form-field>
            <input matInput name="firstName" formControlName="firstNameControl" placeholder="Prénom" [(ngModel)]="currentUser.firstName"  id="firstName">
            <mat-hint align="end">Pas plus de 30 caractères.</mat-hint>
            <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
             <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>-->
            <mat-error
                        *ngIf="userInfosForm.controls['firstNameControl'].invalid && (userInfosForm.controls['firstNameControl'].dirty || userInfosForm.controls['firstNameControl'].touched)">
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['firstNameControl'].errors.required">
                        Le prénom est obligatoire.
                </mat-error>
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['firstNameControl'].errors.maxlength">
                        Il y a trop de caractères.
                </mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="lastName" formControlName="lastNameControl" placeholder="Nom" [(ngModel)]="currentUser.lastName"  id="lastName">
            <mat-hint align="end">Pas plus de 30 caractères.</mat-hint>
            <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['lastNameControl'].invalid && (userInfosForm.controls['lastNameControl'].dirty || userInfosForm.controls['lastNameControl'].touched)">
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['lastNameControl'].errors.required">
                        Le nom est obligatoire.
                </mat-error>
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['lastNameControl'].errors.maxlength">
                        Il y a trop de caractères.
                </mat-error>
            </mat-error>
           <!-- <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>-->
        </mat-form-field>
        <mat-form-field>
            <input matInput name="email" formControlName="emailControl" placeholder="Adresse email" [(ngModel)]="currentUser.email"  id="email">
            <mat-hint align="end">Pas plus de 60 caractères.</mat-hint>
            <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['emailControl'].invalid && (userInfosForm.controls['emailControl'].dirty || userInfosForm.controls['emailControl'].touched)">
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['emailControl'].errors.required">
                        L'adresse email est obligatoire.
                </mat-error>
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['emailControl'].errors.maxlength">
                        Il y a trop de caractères.
                </mat-error>
                <mat-error class="form-error"
                        *ngIf="userInfosForm.controls['emailControl'].errors.email">
                        L'adresse mail doit avoir une forme valide.
                </mat-error>
            </mat-error>
        </mat-form-field>
    </form>
    
</div>
<div mat-dialog-actions>
    <button class="btn-valid-style btn btn-lg btn-block btn-sm" (click)=closeDialog() [mat-dialog-close]="dialogData.user" [disabled]="userInfosForm.invalid"
            cdkFocusInitial>Envoyer</button>
</div>
    